<li class="list-group-item">
  <div class="card card-default" data-conversation-id="<%= conversation.id %>">
    <div class="card-header">
      <%= link_to conversation.opposed_user(user).email, '', class: 'toggle-window' %>
      <%= link_to "X", close_conversation_path(conversation), class: "btn btn-secondary btn-xs ml-auto", remote: true, method: :post %>
    </div>

    <div class="card-body" style="display: none;">
      <div class="messages-list">
        <ul class="list-group">
          <%= render 'conversations/conversation_content', messages: conversation.messages, user: user %>
        </ul>
      </div>
      <form class="new_message">
        <div class="row">
          <input name="conversation_id" type="hidden" value="<%= conversation.id %>">
          <input name="user_id" type="hidden" value="<%= user.id %>">
          <div class="col-md-9">
            <input type="text" name="body" class="form-control">
          </div>
          <div class="col-md-3">
            <input type="submit" class="btn btn-block btn-success" value="Send">
          </div>
        </div>
      </form>
    </div>
  </div>
</li>