<!DOCTYPE html>
<html>
  <head>
    <title>Avalon Chat</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class="container body-container">
      <%= render 'shared/navbar'%>
      <%= render 'shared/notifications'%>
      <%= render 'shared/jumbotron'%>
      <% unless current_user.is_a?(GuestUser) %>
        <h1>Hello <%= current_user.first_name %> </h1>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>