<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Avalon Chat</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= audio_tag "alarm.mp3", id: "alarm", preload: "auto"%>
    <div class="container body-container">
      <%= render 'shared/navbar'%>
      <%= render 'shared/notifications'%>
      <%= render 'shared/jumbotron'%>
      <% unless current_user.is_a?(GuestUser) %>
        <h1>Hello <%= current_user.first_name %> </h1>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>