<!DOCTYPE html>
<html>
  <head>
    <title>Avalon Chat</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class="container body-container">
      <%= render 'shared/navbar'%>
      <div class="jumbotron jumbotron-fluid mt-5">
        <div class="container">
          <h1 class="display-4">Let's Chat</h1>
          <p class="lead">Let's chat is a chat application developed by Keshav Biswa in Avalon Labs using Ruby on Rails 5 and Action Cable.</p>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>